.login-box05
  padding-top 20px
  margin 20px
  width 330px
  border 1px solid black
  .controls
    margin-left 90px
  .control-label
    width 80px
  #signinButton
    margin-right 20px
  .text-error
    margin-right 10px
    margin-top 5px